body{
        background-color: #FEF9EF;
        font-family: 'K2D', 'sans-serif';
}

.text-shadow{
        text-shadow: -1px -1px 0 #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

.min-h-61vh{
        min-height: 61vh;
}